*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

.container {
  width: 1082px;
  margin: 0 auto;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 137px 0;
}

.pricing__title {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 45px;
  color: #161d25;
  margin: 0 0 13px;
  text-align: center;
}

.pricing__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #5d7085;
  margin: 0 0 68px;
  text-align: center;
}

.pricing__row {
  display: flex;
  margin: 0 -3px 0;
}

.pricing__column {
  width: 25%;
  padding: 0 3px 0;
  display: flex;
  position: relative;
}

.pricing__label {
  height: 31px;
  width: 266px;
  font-style: normal;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #63D6FE 0%, #5DD4F8 100%);
  border-radius: 2px 2px 0px 0px;
}

.pricing__label-image {
  height: 13px;
  width: 13px;
  margin-right: 1px;
  margin-bottom: 2px;
  background-image: url("./images/Star.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pricing__label-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding-left: 5px;
  padding-top: 5px;
}

.card {
  border-radius: 2px;
  padding: 48px 35px 36px;
  display: flex;
  flex-direction: column;
}

.card__color_yellow {
  background: linear-gradient(180deg, #fdc624 0%, #e6c434 100%);
}

.card__color_cyan {
  background: linear-gradient(180deg, #55dce7 0%, #3dcad4 100%);
}

.card__color_blue {
  background: linear-gradient(180deg, #6bdfff 0%, #3dacfc 100%);
}

.card__color_gray {
  background: linear-gradient(180deg, #bfcedc 0%, #939fb3 100%);
}

.card__popular {
  position: absolute;
}

.card__header {
  width: 100%;
  height: 144px;
  display: flex;
  justify-content: center;
}

.card__image {
  display: block;
  width: 100%;
  margin: auto 0;
}

.card__body {
  margin: 9px 0 0 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin: 0;
}

.card__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.card__price {
  font-weight: 550;
  font-size: 67px;
  line-height: 79px;
  letter-spacing: -0.1px;
  margin: 27px 0 0px;
  display: flex;
}

.card__currency {
  font-size: 16px;
  line-height: 24px;
  margin-right: 2px;
}

.card__list {
  list-style-type: none;
  padding: 0;
  margin: 9px 0 0 0;
}

.card__list-item {
  margin: 0 0 16px 0;
  display: flex;
  align-items: center;
}

.card__list-mark {
  height: 8px;
  width: 10px;
  margin-right: 10px;
  background-image: url("./images/Done.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__list-text {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.button {
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
}

.card__button {
  height: 40px;
  margin-top: 40px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.card__button_status_active {
  color: #44a9fd;
  background-color: white;
}